@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap");

html {
    --primary: #0d21a1;
    --surface: var(--white);

    --red: #e02417;
    --gold: #eec643;
    --green: #39b51d;
    --white: #eef0f2;
    --black: #141414;

    --front: var(--black);
    --back: var(--white);
    --back-extra: #d4d5d6;
    --back-error: #ffc4c5;
}

* {
    font-family: "Jost", "Roboto", sans-serif;
}

*:not(input) {
    user-select: none;
    -webkit-user-select: none;
}

html, body, #app {
    overscroll-behavior-y: none;
    overflow-x: hidden;
    overflow-x: clip;
}


body {
    margin: 0;
    background: var(--back);
    -webkit-tap-highlight-color: transparent;
}
