@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500;700&display=swap');

html {
    --primary: #0d21a1;

    --red: #e02417;
    --gold: #eec643;
    --green: #39b51d;

    --front: #141414;
    --back: #eef0f2;
    --back-extra: #d4d5d6;
    --back-error: #ffc4c5;
}

* {
    font-family: "Jost", "Roboto", sans-serif;
}

*:not(input) {
    user-select: none;
    -webkit-user-select: none;
}

body {
    margin: 0;
    background-color: var(--back);
    overscroll-behavior-y: none;
}



div.appscreen {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}