@use "sass:list";
@use "sass:math";
@use "sass:color";

:root {
    --light: #eef0f2;
    --dark: #141414;
    --front: var(--dark);
    --back: var(--light);
    --back-extra: #d4d5d6;
    --back-error: #ffc4c5;
}

[data-theme="light"] {
    --front: var(--dark);
    --back: var(--light);
    --back-extra: #d4d5d6;
    --back-error: #ffc4c5;
}

[data-theme="dark"] {
    --front: var(--light);
    --back: var(--dark);
    --back-extra: #323232;
    --back-error: #5b2020;
}

@media (prefers-color-scheme: dark) {
    [data-theme="system"] {
        --front: var(--light);
        --back: var(--dark);
        --back-extra: #323232;
        --back-error: #5b2020;
    }
}

@mixin colorScheme($name, $colors...) {
    [data-color="#{$name}"] {
        --primary: #{list.nth($colors, 1)};

        @if list.length($colors) > 1 {
            $gradient: ();

            @for $i from 2 through list.length($colors) {
                $gradient: list.append($gradient, list.nth($colors, $i), $separator: comma);
            }

            --primary-detail: linear-gradient(to right, #{$gradient});

            .gradient-downward {
                --primary-detail: linear-gradient(to bottom, #{$gradient});
            }
        } @else {
            --primary-detail: none;
        }
        @content;
    }
}

@include colorScheme("blue", #0d21a1);

@include colorScheme("red", #c80000);

@include colorScheme("green", #3bc14a) {
    --surface: var(--black);
}

@include colorScheme("yellow", #f1b100) {
    --surface: var(--black);
}

@include colorScheme("orange", #ff5400);

@include colorScheme("purple", #5f00ba);

@include colorScheme("pink", #f62dae);

@include colorScheme("cyan", #38b9b9) {
    --surface: var(--black);
}

@include colorScheme("rainbow", #ef372b, #ef372b, #f58330, #fff008, #5dbb4d, #0859a9, #a22b93) {
    --surface: var(--black);
}

@include colorScheme("gay", #26cfaa, #078e70, #26cfaa, #98e9c1, #ffffff, #7bade2, #5049cb, #3d1a77) {
    --surface: var(--black);
}

@include colorScheme("lesbian", #d63408, #d63408, #ff9d5b, #ffffff, #d467a7, #a60a67) {
    --surface: var(--black);
}

@include colorScheme("bi", #d70071, #d70071, #9c4e97, #0035a9);

@include colorScheme("trans", #5bcffa, #5bcffa, #f5abb9, #ffffff, #f5abb9, #5bcffa) {
    --surface: var(--black);
}

@include colorScheme("ace", #c036c0, #535353, #a4a5a4, #ffffff, #c036c0) {
    --surface: var(--black);
}

@include colorScheme("pan", #ff1b8d, #ff1b8d, #ff1b8d, #ff7d44, #ffd900, #ffd900, #5abeb9, #1bb3ff, #1bb3ff) {
    --surface: var(--black);
}
